@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}


@media (min-width: 744px) and (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}


@media (min-width: 375px) and (max-width: 743px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }

  .element {
    width: 100%;
    max-width: 400px;
  }
}

:root {
  --primary-color: #3692FF;
  --secondary-color: #F3F4F6;
  --gray-color: #9CA3AF;
}

#alert-modal {
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alert-message {
  font-family: Pretendard;
  font-size: 16px;
}

#close-alert-btn {
  width: 120px;
  height: 50px;
  background: #3692FF;
  border-radius: 8px;
  border-color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;

  color: white;
  font-family: Pretendard;
  font-size: 16px;
}



.alert-content {
  width: 540px;
  height: 250px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


main {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  margin-top: 20px;
  /* 추가 */
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

#main-body {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

#singup-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

p {
  font-family: Pretendard;
}

#input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.input-container {
  width: 100%;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 12px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container:focus-within {
  border: 2px solid var(--primary-color);
}

.member-input {
  width: 100%;
  height: 56px;
  background-color: #F3F4F6;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 12px;
  font-size: 16px;
  border-radius: 12px;
  padding-left: 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.member-input:focus-within {
  border: 2px solid var(--primary-color);
}


.member-input1 {
  width: 100%;
  height: 56px;
  background-color: #F3F4F6;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 12px;
  outline: none;
  border: none;
}

.eye-icon {
  width: 24px;
  height: 24px;
  padding-right: 10px;
}

.singup-btn {
  width: 100%;
  height: 56px;
  background-color: var(--gray-color);
  border-radius: 40px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #F3F4F6;
}

.singup-btn:disabled:hover {
  background-color: var(--gray-color);
  cursor: auto
}

.singup-btn:hover {
  background-color: var(--primary-color);
}



.easy-login {
  width: 100%;
  height: 74px;
  background-color: #E6F2FF;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.goto-login {
  width: 100%;
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
}


.img-goto {
  width: 100px;
  gap: 16px;
}

.goto {
  text-decoration: none;
}

.foot {
  display: flex;
  justify-content: center;
  font-size: 14px;
}